/* DASHBOARD */
.dashboard-body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffb199, #ff0844);
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.navbar h2 {
    margin: 0;
    color: #ff6f61;
}

.logout-btn {
    background: #ff6f61;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* KONTEN */
.dashboard-container {
    padding: 40px;
    color: white;
}

.dashboard-container h1 {
    margin-bottom: 5px;
}

/* GRID MENU */
.menu-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-top: 0;
}

.card button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    cursor: pointer;
    font-weight: bold;
}
.btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 12px;
    background: linear-gradient(135deg, #ffb199, #ff6f61);
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}

